[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-material"]
	path = .vim/bundle/vim-material
	url = https://github.com/hzchirs/vim-material.git
[submodule "sudo.vim"]
	path = sudo.vim
	url = git://github.com/vim-scripts/sudo.vim.git
